*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
bin/
module-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
website/vendor
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak 
*~
.*.swp
.idea
*.iml
*.test